@import './base.css';

#app {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--default-background);
  
}

* {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--default-background);
}


body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--default-background);
  z-index: 2;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--font-color-green);
}