@import './base.css';

#app {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--default-background);
  
}

html {
  overflow: hidden;
  overflow-y: auto;
  background-color: var(--default-background);
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: var(--default-background);
  z-index: 999;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--font-color-green);
}